<div class="card-listwrapper">
  <h1 class="card-list-headline">Alle Sammlungen, die öffentlich verfügbar sind</h1>
  <div class="card-list">
    <ng-container *ngFor="let card of cards">
      <app-template-card [id]="card.id" [title]="card.title" [color]="card.collection.color"
        [childCollections]="card.collection.childCollectionsCount"
        [childReferences]="card.collection.childReferencesCount" [iconUrl]="card.iconUrl" [preview]="card.preview"
        [referenceId]="card.ref.id" [createdFirstName]="card.createdBy.firstName"
        [createdLastName]="card.createdBy.lastName">
      </app-template-card>
    </ng-container>
  </div>
</div>