<div class="card-listwrapper">
    <h2 class="card-list-headline">Materialien</h2>
    <div class="card-list">
        <ng-container *ngIf="cards.length > 0; else noCards">
            <ng-container *ngFor="let card of cards">
                <app-template-reference-card [card]="card" [color]="color" [parentPreview]="parentPreview"></app-template-reference-card>
            </ng-container>
        </ng-container>

        <ng-template class="notfound-text" #noCards>
            <span>keine Materialien vorhanden</span>
        </ng-template>
    </div>
</div>