<div class="content">
    <h1>{{name}}</h1>
    <div class="image">
        <div class="image-foreground" (click)="downloadContent()">
            <img *ngIf="previewUrl != null" [src]="previewUrl" alt="Preview Image" />
        </div>
    </div>
    <button mat-raised-button color="primary" (click)="downloadContent()">
        Download
    </button>
</div>
<div class="info">
    <div class="info-text">
        <h3>Ersteller:</h3>
        <p>{{createdFirstName}} {{createdLastName}}</p>
    </div>
    <div class="info-text">
        <h3>Estellt am:</h3>
        <p>{{formattedCreatedAt}}</p>
    </div>
    <div class="info-text">
        <h3>Datei Typ:</h3>
        <p>{{mimeType}}</p>
    </div>
    <div class="info-text">
        <h3>Datei Größe:</h3>
        <p>{{formattedSize}}</p>
    </div>
</div>